* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}
/* #page1{
    height: 100%;
    width: 100%;
    background-color: black;
}
#page2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}
#page3{
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blanchedalmond;
}


#page1 #box{
    height: 300px;
    width: 500px;
    border-radius: 40px;
    background-color: crimson;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
/* #box2{
    height: 300px;
    width: 300px;
    background-color: aquamarine;
}
#box3{
    height: 300px;
    width: 300px;
    background-color: yellowgreen;
} */

/* #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 40px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#part2{
    display: flex;
    gap: 50px;
}

#page2 h1{
    font-size: 60px;
    padding: 10px;
    position: relative;
    background-color: rgb(224, 27, 27);
}
#page2 h2{
    font-size: 60px;
    padding: 10px;
    position: relative;
    background-color: yellowgreen;
} */
body{
    overflow-x: hidden;
}
#page1{
    height: 100%;
    width: 100%;
}
#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(17, 98, 124);
    padding: 20px;
}
#page3{
    height: 100%;
    width: 100%;
}
#page2 h1{
    font-size: 40vw;
    text-transform: uppercase;
    color: black;
}